h1, h2, h3, h4, h5, h6, p, button, label, input, a, div {
    font-family: 'Barlow', sans-serif;
}

p {
    text-align: center;
}

body {
    background-color: #fff4dd;
}

#all-pages {
    position: relative;
    height: 100vh
}

.form-control:focus {
    box-shadow: none;
    border-color: #ed961f;
  }

.btn-custom {
    color: white;
    border-color: #fff4dd;
    background-color: #73472f;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open>.dropdown-toggle.btn-custom {
    color: #fff;
    border-color: #fff4dd;
    background-color: #ed961f;
    box-shadow:none !important
}

.custom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom-navbar > div {
    display: flex;
    align-items: center;
}

.custom-navbar > div > h1 {
    margin: 0;
}

.icon-link {
    color: #73472f;
    margin: 5px 5px;
}

.icon-link:hover {
    color: #ed961f;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-3px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-1px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.page, .overlay {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    overflow-y: scroll;
}

.show {
    transform: translateX(0%);
    transition: transform 1s;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}