@media screen and (max-width: 768px) {
    #home-page-texts {
        width: 100% !important;
    }
}

#home-page-texts {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93%;
    width: 70%;
}

#nav-tab {
    border-bottom: 0px;
    justify-content: center;
}

.card-img-top {
    width: 60%;
    max-width: 350px;
}

.card-title {
    text-align: center;
}

.nav-link {
    color: black;
    border-color: #fff4dd;
}

.nav-link:hover, .nav-link.focus {
    color: #ed961f!important;
    border-color: #ed961f!important;
}

.nav-link.active {
    color: white !important;
    background-color: #73472f !important;
    border-color: #fff4dd !important;
}