h1, h2, h3, h4, h5, h6, p, button, label, input, a, div {
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    background-color: #fff4dd;
}

#all-pages {
    position: relative;
}

.btn-custom {
    color: white;
    border-color: #fff4dd;
    background-color: #73472f;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open>.dropdown-toggle.btn-custom {
    color: #fff;
    border-color: #fff4dd;
    background-color: #ed961f;
    box-shadow:none !important
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > div {
    display: flex;
    align-items: center;
}

nav > div > h1 {
    margin: 0;
}

.icon-link {
    color: #73472f;
    margin: 5px 0px;
}

.icon-link:hover {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-3px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-1px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.page {
    height: 100vh;
    width: 100%;
    padding: auto;
    box-sizing: border-box;
    position: absolute;
}

#home-page-texts {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94%;
}

#home-page-texts > div {
    margin-top: 5px;
}

.card-img-top {
    width: 50%;
}

.nav-link {
    color: black;
    border-color: #fff4dd;
}

.nav-link:hover {
    color: #ed961f!important;
    border-color: black;
}

.nav-link.active {
    color: white !important;
    background-color: #73472f !important;
    border-color: #fff4dd !important;
}

#map-container {
    position: relative;
}

/* height to be adjusted */
#map {
    height: 94vh;
}

#control-bar {
    position: absolute;
    top: 8px;
    left: 50px;
    z-index: 314160;
    display: flex;
}

#search-input {
    border-radius: 0.25rem
}

#invisible-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255, 0);
    z-index: 314159;
    display: none;
}

.box {
    box-sizing: border-box;
    border: 1px solid #ed961f;
    border-radius: 0.25rem;
    margin: 3px;
    padding: 5px;
}

#weather-div, #location-div {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: rgb(255, 255, 255, 0.7)
}

#search-input {
    min-width: 150px;
}

#search-container {
    box-sizing: border-box;
}

#search-results-display {
    display: none;
    position: absolute;
    overflow-y: auto; 
    max-height:350px; 
    margin: 2px;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255, 0.7);
}

#search-results-display > div > a:hover {
    color: #ed961f !important;
}

.control-bar-btn {
    margin: 0px 5px;
}

.show {
    transform: translateX(0%);
    transition: transform 1s;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}