#all-pages {
    position: relative;
}

.page {
    height: 92vh;
    box-sizing: border-box;
    position: absolute;
}

#map {
    height: 90%;
    /* padding-right: 0 !important;
    padding-left: 0 !important; */
}

#home-page-cotent {
    position: relative;
}

#home-page-texts {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}

#home-page-texts > div {
    border: 5px dotted brown;
    margin-top: 5px;
}

#custom-layer-control {
    border: 5px dotted brown;
    margin-top: 5px;
}

.show {
    transform: translateX(0%);
    transition: transform 1s;
    /* max-height: 100vh;
    overflow:auto;
    transition: max-height 1s, overflow 1s 1s; */
}

.hidden {
    transform: translateX(100%);
    transition: transform 1s;
    visibility: hidden;
    /* max-height: 0;
    overflow:hidden;
    transition: max-height 1, overflow 0s; */
}