#all-pages {
    position: relative;
}

.page {
    /* height: 92vh; */
    box-sizing: border-box;
    position: absolute;
}

/* height to be adjusted */
#map {
    height: 70vh;
}

#home-page-texts {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-page-texts > div {
    margin-top: 5px;
}

/* #custom-layer-control {
    box-sizing: border-box;
} */

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    top: 12px;
    left: 50px;
    z-index: 314159;
}

.box {
    box-sizing: border-box;
    border: 3px dotted brown;
    margin: 3px;
    padding: 5px;
}

#search-results-display {
    overflow-y: auto; 
    max-height:350px; 
    width: 255px;
    margin: 2px;
    background-color: rgb(255, 255, 255, 0.7);
}

.show {
    transform: translateX(0%);
    transition: transform 1s;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden;
}