.page {
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
}

#all-pages {
    position: relative;
}

.show {
    transform: translateX(0%);
    transition: transform 1s;
    /* max-height: 100vh;
    overflow:auto;
    transition: max-height 1s, overflow 1s 1s; */
}

.hidden {
    transform: translateX(100%);
    transition: transform 1s;
    visibility: hidden;
    /* max-height: 0;
    overflow:hidden;
    transition: max-height 1, overflow 0s; */
}