#all-pages {
    position: relative;
}

.page {
    /* height: 92vh; */
    box-sizing: border-box;
    position: absolute;
}

#map {
    height: 92vh;
}

#home-page-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page-texts {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-page-texts > div {
    /* border: 5px dotted brown; */
    margin-top: 5px;
}

#custom-layer-control {
    box-sizing: border-box;
}

.col {
    box-sizing: border-box;
    border: 5px dotted brown;
    margin: 5px
}

.show {
    transform: translateX(0%);
    transition: transform 1s;
    /* max-height: 100%;
    overflow:auto;
    transition: max-height 1s, overflow 1s 1s; */
}

.hidden {
    transform: translateX(-100%);
    transition: transform 1s;
    visibility: hidden;
    /* max-height: 0;
    overflow:hidden;
    transition: max-height 1, overflow 0s; */
}