@media screen and (min-width: 481px) {
    #suggest-page {
        justify-content: center;
    }
}

#suggest-page {
    background-color: rgb(255, 255, 255, 0.85);
    z-index: 314161;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggest-form {
    min-width: 300px;
}